extends ./layouts/index

block content
    block content
    main.container.mt-5 
        .row
            .col-md-5 
                img.img-fluid(src="/img/about_us.jpg", alt="About us image")

            .col-md-7
                h1 #{page}

                blockquote Deserunt elit sit consectetur labore ad. Labore incididunt officia ut in deserunt deserunt non sit. Ea enim magna veniam occaecat ullamco enim dolor occaecat sint nulla dolore. Eu tempor enim aute ut reprehenderit cupidatat deserunt excepteur incididunt. Minim velit minim esse est. Adipisicing incididunt anim consequat dolor id nulla. Fugiat aliquip eiusmod cillum sunt id in exercitation.

                p Pariatur ad sint sint ut. Labore aliqua in sit dolore. Dolore incididunt consequat pariatur duis. Laboris cupidatat consectetur fugiat consectetur. Sunt dolor ut et reprehenderit occaecat ullamco pariatur proident et.

                p Laboris qui mollit ut velit aliquip et sit nulla in veniam reprehenderit ut quis laborum. Ea occaecat irure eu reprehenderit proident. Pariatur eu minim occaecat Lorem cupidatat culpa aliqua tempor ea commodo Lorem ea est anim. Nulla irure enim non aliquip labore. Eiusmod velit ad laboris sunt minim proident ex irure labore. Dolore nulla Lorem non deserunt enim ullamco ex.

    .icons-list
        .container.mt-5.my-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icon_safety.svg", alt="Safety icon", class="img-fluid my-4")
                    h2.mb-4 Safety 
                    p Incididunt aliqua occaecat id esse labore incididunt. Officia aute dolor esse duis eiusmod cupidatat duis Lorem cillum fugiat elit. Sunt deserunt labore voluptate adipisicing. Cupidatat qui incididunt dolor nostrud adipisicing eu exercitation aute.

                .col-md-4
                    img(src="img/icon_destinations.svg", alt="Destinations icon", class="img-fluid my-4")
                    h2.mb-4 Destinations 
                    p Incididunt aliqua occaecat id esse labore incididunt. Officia aute dolor esse duis eiusmod cupidatat duis Lorem cillum fugiat elit. Sunt deserunt labore voluptate adipisicing. Cupidatat qui incididunt dolor nostrud adipisicing eu exercitation aute.

                .col-md-4
                    img(src="img/icon_prices.svg", alt="Best prices icon", class="img-fluid my-4")
                    h2.mb-4 Best Prices 
                    p Incididunt aliqua occaecat id esse labore incididunt. Officia aute dolor esse duis eiusmod cupidatat duis Lorem cillum fugiat elit. Sunt deserunt labore voluptate adipisicing. Cupidatat qui incididunt dolor nostrud adipisicing eu exercitation aute.